.alert-danger {
    color:red;
}
.form-control{
    border-radius: 55%px;
    border: 2px solid rgb(165, 165, 206);
}
.all{
   
    border:1px solid rgb(129, 119, 187);
    border-width: 4px;
    border-radius: 10%;
    height:407px;
    width:480px;
    display: inline-block;
    color:rgb(1, 2, 8)
}
.btn{
    background-color:rgba(13, 0, 133, 0.952);
    border-radius: 35%;
    height: 45px;
    width:200px;
    color:solid black;
}